<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Parassood
 * @package     Parassood_Abandonedcart
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Parassood_Abandonedcart>
            <version>0.0.4</version>
        </Parassood_Abandonedcart>
    </modules>
    <global>
        <models>
            <parassood_abandonedcart>
                <class>Parassood_Abandonedcart_Model</class>
                <resourceModel>parassood_abandonedcart_mysql4</resourceModel>
            </parassood_abandonedcart>
            <parassood_abandonedcart_mysql4>
                <class>Parassood_Abandonedcart_Model_Mysql4</class>
                <entities>
                    <checkoutstage>
                        <table>parassood_abandonedcart_stage</table>
                    </checkoutstage>
                    <campaign>
                        <table>parassood_abandonedcart_campaign</table>
                    </campaign>
                    <subcampaign>
                        <table>parassood_abandonedcart_subcampaign</table>
                    </subcampaign>
                    <tracking>
                        <table>parassood_abandonedcart_tracking</table>
                    </tracking>
                </entities>

            </parassood_abandonedcart_mysql4>
        </models>
        <helpers>
            <parassood_abandonedcart>
                <class>Parassood_Abandonedcart_Helper</class>
            </parassood_abandonedcart>
        </helpers>
        <blocks>
            <parassood_abandonedcart>
                <class>Parassood_Abandonedcart_Block</class>
            </parassood_abandonedcart>
        </blocks>
        <resources>
            <parassood_abandonedcart_setup>
                <setup>
                    <module>Parassood_Abandonedcart</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </parassood_abandonedcart_setup>
        </resources>
        <events>
            <sales_quote_save_after>
                <observers>
                    <parassood_abandonedcart_cartadd>
                        <class>parassood_abandonedcart/observer</class>
                        <method>setCartStage</method>
                    </parassood_abandonedcart_cartadd>
                </observers>
            </sales_quote_save_after>
            <checkout_submit_all_after>
                <observers>
                    <parassood_abandonedcart_cartadd>
                        <class>parassood_abandonedcart/observer</class>
                        <method>setOrderedStage</method>
                    </parassood_abandonedcart_cartadd>
                </observers>
            </checkout_submit_all_after>
        </events>
        <template>
            <email>
                <custom_abandonedcart_email module="Parassood_Abandonedcart">
                    <label>Abandoned Cart Email</label>
                    <file>abandonedcart.html</file>
                    <type>html</type>
                </custom_abandonedcart_email>
                <custom_abandonedcart_reminder_email module="Parassood_Abandonedcart">
                    <label>Abandoned Cart Reminder Email</label>
                    <file>abandonedcart_reminder.html</file>
                    <type>html</type>
                </custom_abandonedcart_reminder_email>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <abandonedcart>
                <use>admin</use>
                <args>
                    <module>Parassood_Abandonedcart</module>
                    <frontName>abandonedcart</frontName>
                </args>
            </abandonedcart>
        </routers>
    </admin>
    <frontend>
        <routers>
            <abandonedcart>
                <use>standard</use>
                <args>
                    <module>Parassood_Abandonedcart</module>
                    <frontName>recreate</frontName>
                </args>
            </abandonedcart>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <module>
                    <file>abandonedcart.xml</file>
                </module>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <parassood_abandonedcart_runcampaign>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>parassood_abandonedcart/observer::runAbandonedCartCampaign</model>
                </run>
            </parassood_abandonedcart_runcampaign>
        </jobs>
    </crontab>
</config>
